.checkout .form-control[disabled], .checkout .form-control[readonly], .checkout fieldset[disabled] .form-control {
  cursor: default;
  background-color: #fff;
  opacity: 1;
}

.checkout {
  width: 100%;
  display: inline-block;
  margin: 12px 0 0 0;
  border: 1px solid #e8e8e8;
  padding: 7px;
}

.checkout .tab-pane {
  padding:15px 0 0 0;
}

.checkout:hover {
  text-decoration: none;
}

.checkout > span {
  border-bottom: 1px dashed transparent;
}

.checkout:hover > span {
  border-bottom: 1px dashed #777;
}
.checkout .required_icon, .checkout .error_icon, .checkout .success_icon {
  position: absolute;
  right: -20px;
  top: 3px;
}
/* CHECKOUT */

#checkoutButtonContainer {
  padding: 20px 0;
}
.checkout .table>tbody>tr>td,
.checkout .table>tbody>tr>th,
.checkout .table>tfoot>tr>td,
.checkout .table>tfoot>tr>th,
.checkout .table>thead>tr>td,
.checkout .table>thead>tr>th {
  border-top:0;
  padding: 3px 0;
}
.checkout_left {}
.checkout_right {}
.checkout_form_info {margin: 0 0;}
.checkout_form_info td.left {

}

.checkout_userlogin_form {
  margin-bottom: 20px;
}
.checkout .login_page_soc {
  width: 90%;
  margin: 0 auto;
}


.login_page_soc h2 {
  margin-top: 0;
}
.checkout_userlogin_form label {
  width: 60px;
  display: inline-block;

}
.login_page_soc {
  background: #44ADEF;
  padding: 20px;
  color: #fff;
  text-align: center;
  border-radius: 15px;
}
.login_page_soc a {color: #fff;font-size: 16px;}
.login_page_soc a:hover {text-decoration: underline;}

.checkout__cart_item {
  position: relative;
  margin-bottom: 20px;
}

.checkout_form h3 {
  min-height:34px;
}

.checkout .form-group {
  position: relative;
  margin: 5px 0;
}

.checkout .checkout_inputs,
.checkout .required_icon,
.checkout .error_icon,
.checkout .success_icon {}
.checkout_b_section {}

#ajaxMessages {display: none !important;}


.orderTotals {text-align:center;}
.orderTotals tr:last-child {font-size: 18px;}
.orderTotals tr:last-child td:last-child {
  color: #000;
  font-size: 20px;
}
.orderTotals i {color:#aaa;}
.checkout .form-control[disabled], .checkout .form-control[readonly], .checkout fieldset[disabled] .form-control {
  cursor: pointer;
  background-color: #fff;
  opacity: 1;
  box-shadow: none;

}
.checkout .checkout_inputs.success {
  border-color: green;
}

.checkout .checkout_inputs {
 /* width: 250px; */
}

.checkout .form-group .required {
  width:100%;
  max-width:100%;
}

.checkout button {
  min-width: 250px;
  height:35px;
  border-radius:5px;
}

.checkout select {
   -webkit-appearance: menulist;
   -moz-appearance:    menulist;
   appearance:         menulist;
}

.checkout .inputRequirement {
  display:none;
}

.checkout .fixed-height {
  height:36px;
  overflow:hidden;
}


.checkout .required_icon, .checkout .error_icon, .checkout .success_icon {
  position: absolute;
  right: 13px;
  top: 8px;
}

.checkout .required_icon {color:#777;}
.checkout .error_icon {color:#f24c4c;}
.checkout .success_icon {color:#54af28;}

/* New Checkout 24.05.2017 */
.checkout-ico{
  margin-right: 5px;
  font-size:20px;
}
.checkout-cart-title{
  border: 1px solid #ebebeb;
  padding: 7px 0 0 10px;
  background-color: #f6f6f6;
}

#cartContent-page .product_delete .btn {
  font-size: 14px;
  padding: 0 0 0 2px;
  margin-left: 10px;
  border-radius: 20px;
  min-width: 25px !important;
  width: 25px;
  min-height: 25px;
  height: 25px;

}
#cartContent-page td.product_qty input {width: 30px;text-align: center;}
#cartContent-page .btn.ok {
  display:none;
  position:absolute;
  color:#49B3F6;
  font-size:19px;
  margin-top:-10px;
  margin-left: -5px;
}
.sm_popup_cart{
  display: none !important;
}
.check-isregistred{
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #428bca;
  color: #ffffff;
  padding: 5px 15px;
  font-weight: 600;
}
.checkout-panel .nav-tabs > li > a{
  font-size: 12px;
}
.payment-img{
  margin-left: 5px;
}
.total-text{
  float: right;
  padding-right: 5px;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  font-weight: 600;
}

.loginmodal-container input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
    user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #428bca;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #3c6ca5;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}
.check-bl{
  min-height: 40px;
}
.check-name{
  width: 46%;
  position: absolute !important;
  left: 15px !important;
}
.check-name2{
  width: 46%;
  position: absolute !important;
  right: 15px !important;
}
.check-email{
}
.check-email .required_icon, .check-email .error_icon{

}
/* New Checkout End */
